.card {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid lightgray;
}

.details {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 2rem;
}

.game-name {
  color:black 
}

.player-count {
  text-align: right;
}

.action-btn-container {
  display: flex;
}
.action-btn {
  width: 10%;
  padding: .5rem;
  border: none;
  cursor: pointer;
}

.join-btn {
  background-color: rgb(57, 177, 109);
}
.delete-btn {
  background-color: rgb(117, 25, 25);
  color: white;
  font-size: 1.1rem;
  margin-left: 1rem;
}

.edit-field {
  width: 30%;
  padding: .5rem;
  font-size: 1.1rem;
  margin: .5rem 0;
}