.game-grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
}

.welcome-msg {
  font-size: 3rem;
  margin: 2rem;
  color: white;
  text-align: center;
}

.card-container {
    margin: 1rem;
    width: 85%;
    height: 35rem;
    background-color: rgb(245, 245, 245);
    overflow-y: auto;
    box-shadow: 2px 2px 2px rgb(133, 133, 133);
    border-radius: 10px;
    float: right;
}

.expand-btn {
  display: flex;
  justify-content: space-between;
}

.card-container::-webkit-scrollbar {
  display: none;
}


label {
  color: white;
}

.create-game-form {
  width: 15rem;
  margin: 1rem;
}

.create-game-form > button {
  margin: auto;
  padding: 0.75rem
  
}

