

.landing {
    background-image: url("https://cdn2.f-cdn.com/contestentries/1216494/15731006/5a449a6b4a563_thumb900.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.landing-footer{
    background: #962F1F;
    font-size: 10px;
    color: white;
    text-align: center;
    bottom: 0;
}

.about-game-on{
    width: 65%;
    padding: 75px;
    margin: auto;
    font-size: 36px;
    justify-content: center;
    flex-direction: column;
    background:rgba(250, 141, 124);
}