.form-container {
  display: flex;
  flex-direction:column;
  width: 100%;
  align-items: center;
  margin: 10% auto;
  text-align: center;
}

.display-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 3fr 1fr;
}

.display-grid > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

form {
  display: flex;
  flex-direction: column;
}

form:first-of-type {
  margin-bottom: 5rem;
}

.login-form {
  width: 15rem;
}

.input-field {
  width: 100%;
  height: 3rem;
  /* border-radius: 1px; */
  border: none;
  background-color: #E5E5E5;
  text-align: center;
}
form > input {
  margin: 0.5rem
}

